body {
    background-color: rgb(243, 207, 250);
    text-align: center;
    font-family: 'Sometype Mono', monospace;
}

.corpoPage {
    text-align: center;
}

.fotoPerfil {
    text-align: center;
}

.gato {
    border-radius: 100%;
}

.nome {
    background-color: rgba(110, 44, 120, 0.715);
    border-radius: 10cm;
}

.idade {
    background-color: rgba(110, 44, 120, 0.715);
    border-radius: 10cm;
}

.tema {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

}

.tema {
    color: #ffffff;
}

h4 {
    background-color: rgba(156, 112, 163, 0.715);
    border-radius: 10cm;
}

footer {
    background-color: #545151a0;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}